<% title "About" %>

<h1>About This Project</h1>
<p>[add about text here]</p>

<p>See the <a href="/credits">credits page</a> for more details.</a>

<h2>About Know Your City</h2>

<p>[add KYC text here]</p>

<h2>Frequently Asked Questions</h2>

<h4>When will the app come out?</h4>
<p>We have a beta version of the app, which will need to be restructured to accommodate a few changes we've made to the designs and data structures over the summer. We expect to release the app in the fall.</p>

<h4>I saw a bug or something didn't work as expected. What do I do?</h4>
<p>Send us an <a href="mailto:support@pdxsocialhistory.org">email</a>.</p>

<h4>How can I help?</h4>
<p>We're seeking <a href="/donate">donations</a> to continue the project, and volunteers to help us continue the research, editing, and testing process.</p>

<h2>Known Issues</h2>
<p>We'll continue rolling out enhancements and refinements to this site over the coming days and weeks. Among the issues we're currently working on:</p>

<ul>
	<li>Fixing the audio player on Firefox</li>
	<li>Layout improvements for phones and tablets</li>
	<li><del>Slideshow controls on home page</del></li>
	<li>Mapping imagery and pin positions</li>
	<li>Fonts, layouts, browser compatibility issues, etc.</li>
	<li>Lingering placeholder text, e.g. "Lorem ipsum..."</li>
</ul>

<p>For now, we recommend previewing the site in recent versions of either Chrome or Safari browsers.</p>