<% title "About" %>

<h1>About This Project</h1>
<p>[add about text here]</p>

<p>See the <a href="/credits">credits page</a> for more details.</a>

<h2>About Know Your City</h2>

<p>[add KYC text here]</p>

<h2>Frequently Asked Questions</h2>

<h4>When will the app come out?</h4>
<p>This summer, we've been focused on research and editing. Since </p>

<h4>I saw a bug or something didn't work as expected. What do I do?</h4>
<p>Send us an email.</p>

<h4>How can I help?</h4>
<p>We're seeking donations to continue the project, and volunteers to help use continue the research, editing, and testing process.</p>

<h2>Known Issues</h2>
<ul>
	<li>Audio on Firefox</li>
	<li>Layout on phones</li>
</ul>	