<% title "PDX Social History App: Coming Soon!" %>

<div class="row">
<div class="span4">
<img src="https://s3-us-west-2.amazonaws.com/pdxshg.media/promo/psha-launch-full.png" />
</div>
<div class="span8" id="app-description">
<h2>The PDX Social History App</h2>

<h4>Coming Soon!</h4>

<p>PDX Social History App will feature all the content of the website &mdash; right on your iPhone, iPad or iPod Touch.</p>

<p>This app will include:</p>
<ul>
<li>audio clips from interviews with a dozen local experts</li>
<li>theme illustrations and historical photos</li>
<li>summary text (in case you forgot your headphones, and don't want to listen out loud)</li>
<li>maps to help you find the historical locations</li>
<li>links to read more about many of these topics</li>
</ul>

</div>