<% title "Credits" %>
<h1>Credits</h1>

<p>The PDX Social History Guide is brought to you by <a href="http://www.knowyourcity.org/">Know Your City</a>.</p>

<p><strong>Concept and Planning:</strong> Marc Moscato and Matt Blair (and so many others)</p>
<p><strong>Grant Writing:</strong>Eric Gold and ?</p>
<p><strong>App Design and Development:</strong> <a href="http://mattblair.net/">Matt Blair</a></p>
<p><strong>Interviews:</strong> Maggie Starr, Zach Holz, Elias Foley, Marc Moscato</p>
<p><strong>Audio Editing:</strong> Erin Yanke, Elias Foley, Matt Blair</p>
<p><strong>Research and Writing:</strong> Erin Enos, Matt Blair, Maggie Starr, Madeline Thompson, Zach Holz, Judith Pearson</p>
<p><strong>Editing and Proofreading:</strong> Erin Enos, Matt Blair, Judith Pearson, BJ Thomsen, Dale Davis, Cyrus Smith, Maggie Starr</p>
<p><strong>Theme Illustrations and App Iconography:</strong> <a href="http://katebingamanburt.com/">Kate Bingaman-Burt</a></p>
<p><strong>Kickstarter Video:</strong> James Wilson</p>

<p><strong>Thanks To:</strong> All the members of Know Your City (née Dill Pickle Club)</p>

<p>And Special Thanks To: The inimitable Max Ogden, for making introductions.</p>

<h3>Guest Experts</h3>

<h3>Photo Sources</h3>

<ul>
	<li><a href="http://www.portlandoregon.gov/auditor/archives">City of Portland Archives</a></li>
	<li>Oregon Historical Society</li>
	<li>State Historic Preservation Office</li>
	<li>Oregon Jewish Museum</li>
	<li>Multnomah County Library</li>
	<li>International Longshore and Warehouse Union, San Francisco Office</li>
	<li>Portland Development Commission</li>
	<li>Madeline Thompson</li>
	<li>Erin Enos</li>
</ul>

<h2>Funders</h2>
<h3>Grant Support</h3>
<p>Oregon Arts Commission</p>
<p>Travel Portland</p>
<h3>Kickstarter Backers</h3>
<p>[Present as a comma-delimited list of names]</p>

<h2>Licenses &amp; Copyrights</h2>

<p>All photos used by permission of the copyright holder displayed in each caption, except for those in the public domain.</p>

<h3>Software</h3>

<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
	