<% title "Credits" %>


<p>The PDX Social History Guide is brought to you by <a href="http://www.knowyourcity.org/">Know Your City</a>.</p>

<h2>Funding</h2>
<p><a href="http://www.oregonartscommission.org/">Oregon Arts Commission</a></p>
<p><a href="http://www.travelportland.com/">Travel Portland</a></p>

<h2>Credits</h2>
<p><strong>Concept and Planning:</strong> Marc Moscato and Matt Blair (and so many others)</p>
<p><strong>Grant Writing:</strong> Eric Gold</p>
<p><strong>App Design and Development:</strong> <a href="http://mattblair.net/">Matt Blair</a></p>
<p><strong>Interviews:</strong> Maggie Starr, Zach Holz, Elias Foley, Marc Moscato</p>
<p><strong>Audio Editing:</strong> Erin Yanke, Elias Foley, Matt Blair</p>
<p><strong>Research and Writing:</strong> Erin Enos, Matt Blair, Maggie Starr, Madeline Thompson, Zach Holz, Judith Pearson</p>
<p><strong>Editing and Proofreading:</strong> Erin Enos, Matt Blair, Judith Pearson, BJ Thomsen, Dale Davis, Cyrus Smith, Maggie Starr</p>
<p><strong>Theme Illustrations and App Iconography:</strong> <a href="http://katebingamanburt.com/">Kate Bingaman-Burt</a></p>
<p><strong>Kickstarter Video:</strong> James Wilson</p>

<div class="hidden-phone">
<iframe src="//player.vimeo.com/video/30659390" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/30659390">Know Your City: Portland's Social History App</a> from <a href="http://vimeo.com/kycpdx">know your city</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>

<p><strong>Thanks To:</strong> All the members of <a href="http://knowyourcity.org/join/">Know Your City</a> (née Dill Pickle Club)</p>

<p><strong>Special Thanks To:</strong> The inimitable Max Ogden, for making introductions.</p>

<h3>Thanks to all of our Kickstarter Backers:</h3>
<p>Matthew Oliphant, Andrew Smith, Greg Means, jewel mlnarik, Matt Cleinman, Brian Caughey, David Schargel, Eric Schiff, Rick Turoczy, J-P Voillequé, Shawn Milochik, Lori Bisbey, Jenny Mundy, Paula Manley, Jon Van Oast, Dorothy J Lyman, John Fenn, Patrick King, cecca wrobel, Hilary Amnah, Kimberly Thrush, chris mccraw, Jolie Griffin, Sean Schumacher, Ed Klein, Aabra Jaggard, Tina Kayne, John Teagle, Bill Weismann, Patrick Maloney, Charlotte Rubin, Marge Padian, Scott Smerchek, Captdoggle, Robert Maupin, K.N.E., Catie, Mimi Wrobel, Laura Whipple, Lewis Winter, Beth White, Carrie Padian, Dale Davis, Eric Hale, Dietrich Ayala, JH Khorsi, Lydia Ngo, David Raphael, Kristen Gehrke, Duane Poncy, Mike Gushard, Hilary Pfeifer, Roya Amirsoleymani, Cheryl Babbe, Margo DeBeir, Curt Gardner, Sean Bender, Deb Accuardi, Stephanie Bishop, Paul Schneider, Max Campos, Alex Mahan, Phil Oppenheim, josh leake, Seann Dikkers, Ben Pearson, Robin Anderson, Janet Lackey, Kalina Wilson, Tomas Valladares, Kenna Conklin, k.bott, Brie Lang, noah heller, Ruth Brown, Hanna Neuschwander, Megan Richardson, JonnyX and the Groadies, Ryan Casey, Cary Clarke, Timothy Kilkenny, Joe Keatinge, Jessica Hebert, Janet Lunde, Gary A Hanson, Chad Booker, Alison Cole, Victor Asteinza, sarah gilbert, Todd Kalhar, Alicia Hansen, Lisa Jakobsen, Tiffani M Young, Kerstin Lock, Valerie Sasaki, Katie Proctor, Justin Halloran, Ben Cullen-Kerney, Martin Tromblee, Martin Perna, Michael Casaday, Deese Miller, Meredith Vanden Berg, Joanne Summers, Charlie Burr, Sarah, alex reid, Michael Wallisch, Jordan Anderson, Anne Connell, Kristina Knight, Jon Stern</p>

<p><a href="http://www.kickstarter.com/projects/dillpickleclub/know-your-city-portlands-social-history-app-20">View this project on Kickstarter</a></p>

<h3>Guest Experts</h3>
<ul>
	<li>Bill Hart</li>
	<li>Reiko Hillyer</li>
	<li>Polina Olsen</li>
	<li>Ed Edmo</li>
	<li>Doug Kenck-Crispin</li>
	<li>Jan Dilg</li>
	<li>George Nicola</li>
	<li>Ann Mussey</li>
	<li>Michael Munk</li>
</ul>

<h3>Photo Sources</h3>
<ul>
	<li><a href="http://www.portlandoregon.gov/auditor/archives">City of Portland Archives</a></li>
	<li>Oregon Historical Society</li>
	<li>Oregon State Historic Preservation Office</li>
	<li>Oregon Jewish Museum</li>
	<li>Multnomah County Library</li>
	<li>International Longshore and Warehouse Union, San Francisco Office</li>
	<li>Portland Development Commission</li>
	<li>Emery Ingham</li>
	<li>Madeline Thompson</li>
	<li>Erin Enos</li>
</ul>

<h3>Mapping Data</h3>
<ul>
	<li>Central City Concern</li>
	<li>George Nicola</li>
</ul>

<h2>Funding Provided By<h2>
<%= image_tag("oacc-logo-300.png", :class => "funder-logo", :alt => "Oregon Arts Commission Logo") %>
<p>&nbsp;</p>
<%= image_tag("travel-portland-300.png", :class => "funder-logo", :alt => "Travel Portland Logo") %>
<p>&nbsp;</p>

<h2>Licenses &amp; Copyrights</h2>

<p>All photos used by permission of the copyright holder displayed in each caption, except for those in the public domain.</p>

<h3>Software</h3>
<p>This project wouldn't have been possible without great open source projects, including:</p>
<ul>
	<li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
	<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
	<li><a href="http://leafletjs.com/">Leaflet JavaScript Library</a></li>
	<li>Map Tiles and Imagery by <a href="http://maps.stamen.com/">Stamen</a></li>
</ul>
<p>Thanks to everyone who has contributed code and documentation to these projects over the years.</p>
	