<% title "Donate" %>
<%= image_tag("kyc-logo-text.jpg", :class => "kyc-logo-text", :alt => "Know Your City: Experience. Educate. Engage.") %>
<h1>Support the Guide</h1>
<p>PDX Social History has been made possible only by the help and dedication of a team of volunteers. We would like to make this history free, but we need your support to keep this site open and free. Your support will enable us to only improve what we’ve started, but also to expand this project and work on additional stories.</p>  

<p>PDX Social History is a project of <a href="http://www.knowyourcity.org">Know Your City</a>, a 501(c)(3) nonprofit organization. We raise a significant portion of our annual budget every year through individuals who pledge their support through donations. Your support is critical to our success, and to our future.</p>

<p>Any amount, small or large, helps support our efforts. Donate either a one-time gift or recurring monthly installments using Network for Good, by clicking the image below.</p>

<p><a href="https://www.networkforgood.org/donation/ExpressDonation.aspx?ORGID2=27-5449625"><img class="size-full wp-image-7152 alignleft" title="donatenowlogo4" alt="" src="http://knowyourcity.org/wp-content/uploads/2011/07/donatenowlogo4.gif" width="140" height="53" /></a></p>

<p>We would like to make this site and app accessible to all, but we need your support to keep this project open and free. For more information or to make a tax-deductible donation, contact us at: <a href="mailto:ask@knowyourcity.org">ask@knowyourcity.org</a>.</p>