<% title "Donate" %>
<h1>Support the Guide</h1>
<p>[insert project-specific text]</p>

<p>Any amount, small or large, helps support our ongoing programming. Donate either a one-time gift or recurring monthly installments using Network for Good, by clicking the image below. For more information or to make a tax-deductible donation, contact us at: <a href="mailto:ask@knowyourcity.org">ask@knowyourcity.org</a>.</p>

<a href="https://www.networkforgood.org/donation/ExpressDonation.aspx?ORGID2=27-5449625"><img class="size-full wp-image-7152 alignleft" title="donatenowlogo4" alt="" src="http://knowyourcity.org/wp-content/uploads/2011/07/donatenowlogo4.gif" width="140" height="53" /></a>
