<h1>Near You</h1>

<div id="nearby-map"  style="width: 600px; height: 400px" ></div>

<%= javascript_include_tag "leaflet-providers" %>
<script>

var map = L.map('nearby-map').setView([45.518683, -122.681764], 14);

// see leaflet-providers repo at github for list of options
// https://github.com/leaflet-extras/leaflet-providers
// demo:
// http://leaflet-extras.github.io/leaflet-providers/

//L.tileLayer.provider('Stamen.Watercolor').addTo(map);
//L.tileLayer.provider('OpenStreetMap.BlackAndWhite').addTo(map);
//L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);
L.tileLayer.provider('Stamen.Toner').addTo(map);

var marker = L.marker([45.518683, -122.681764]).addTo(map);

// from the mobile demo: 
// http://leafletjs.com/examples/mobile.html
map.locate({setView: true, maxZoom: 14});

function onLocationFound(e) {
    var radius = e.accuracy / 2;

	// add .openPopup() to the end if you want to display the accuracy explicitly
    L.marker(e.latlng).addTo(map)
        .bindPopup("You are within " + radius + " meters from this point");

    L.circle(e.latlng, radius).addTo(map);
}

map.on('locationfound', onLocationFound);

function onLocationError(e) {
    alert(e.message);
}

map.on('locationerror', onLocationError);

// from the geojson demo:
// http://leafletjs.com/examples/geojson.html

function popupContent(title, link) {
	
	return "<a href=\"" + link + "\">" + title + "</a>"
}

// used for circle version of marker
var geojsonMarkerOptions = {
    radius: 8,
    fillColor: "#ff0000",
    color: "#000",
    weight: 1,
    opacity: 1,
    fillOpacity: 0.7
};

function onEachFeature(feature, layer) {
    if (feature.properties && feature.properties.title && feature.properties.link) {
        layer.bindPopup(popupContent(feature.properties.title, feature.properties.link));
    }
}

var nearbyJSON = <%= @geojson %>;

L.geoJson(nearbyJSON, {
    onEachFeature: onEachFeature,
	pointToLayer: function (feature, latlng) {
	        return L.circleMarker(latlng, geojsonMarkerOptions);
	    }
}).addTo(map);

</script>


<%-# This data will feed the map, instead of just a list... %>
<% @tidbits.each do |tidbit| %>
	<div class="tidbit-listing">		
		<h4><%= link_to tidbit.title, tidbit%></h4>
		<p><% if !tidbit.year.nil? %>
			<span class="tidbit-year"><%= tidbit.year %></span>
		<% end %>
		</p>
	</div>
<% end %>

