<h1>Guest Experts</h1>

<% @guests.each do |guest| %>
<%= image_tag("#{guest.image_name}.jpg", :class => "theme_image" , :alt => "Theme image") %>
<h2><%= link_to guest.name, guest %></h2>
<h4><%= guest.specialty %></h4>
<p><em><%= guest.quote %></em></p>
<% end %>
