<h1>Historical Themes</h1>

<% @themes.each do |theme| %>
<%= image_tag("#{theme.image_name}.jpg", :class => "theme_image" , :alt => "Theme image") %>
<h3><%= link_to theme.title, theme %></h3>
<h4><%= theme.subtitle %></h4>
<p><%= theme.summary %></p>
<% end %>
