<ul>
<li>Mastered audio files (aiff/wav)</li>
<li>Cropped photos for each story, with permission for use</li>
<li>Edited and proofread text for all published items</li>
<li>Guest information (bio, photo, links, etc.)</li>
<li>Copies of release forms for guests</li>
<li>KBB interface graphics</li>
<li>KBB theme graphics</li>
<li>About page</li>
<li>Survey questions</li>
<li>Donation feature</li>
<li>Proofreading of all published items</li>
<li>Testing for the app</li>
</ul>