<ul>
<li><a href="http://labratrevenge.com/pdx/#13/45.5358/-122.7397">Portland, Oregon: The Age of a City</a> (created by <a href="https://twitter.com/Caged">@caged</a>)</li>
<li><a href="http://www.lovejoypettygrove.com">LovejoyPettygrove</a>: Translates current addresses to old ones.</li>
</ul>
