<ul>
<li><a href="http://vintageportland.wordpress.com/">Vintage Portland</a></li>
<li><a href="http://portlandthenandnow.tumblr.com">Then and Now Tumblr</a>: The Oregonian probably owns these photos (?) and they many don't match up all that well, but the originals have visual appeal.</li>

</ul>