<ul>
	<li><a href="http://www.portlandoregon.gov/efiles">City Archives</a></li>
<li><a href="http://archive.historicphotoarchive.net/">Historic Photo Archive (Thomas Robinson)</a></li>
<li><a href="http://vintageportland.wordpress.com/">Vintage Portland</a></li>
<li><a href="http://orhistory.com/kickassoregonhistory">Kick Ass Oregon History</a><li>
<li><a href="http://portlandthenandnow.tumblr.com">Then and Now Tumblr</a>: The Oregonian probably owns these photos (?) and they many don't match up all that well, but the originals have visual appeal.</li>
</ul>