<h1>Snapshots</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Publication date</th>
    <th>Year</th>
  </tr>

<% @tidbits.each do |tidbit| %>
  <tr>
    <td><%= link_to tidbit.title, tidbit %></td>
    <td><%= tidbit.publication_date %></td>
    <td><%= tidbit.year %></td>
  </tr>
<% end %>
</table>