<div class="row">

<%= carousel_markup() %>

<script>
	$(function(){
		$('#home-carousel').carousel({
		  interval: 6000,
		  pause: "hover"
		});
	});
</script>	

<div class="span4">
<p class="welcome-title">Welcome to the PDX Social History Guide, brought to you by <a href="http://www.knowyourcity.org">Know Your City</a>.</p>
<p class="welcome-message">This guide features location-based stories reflecting the multicultural history of downtown Portland, OR, USA.</p> 
<p class="welcome-message">PDX Social History Guide brings these stories to the surface through interviews, mapping, art and photos. Each story features a summary, audio clip, and an image or map. You can start exploring by selecting a theme below.</p>
<h4 class="kyc-notice">Be a part of our history...<br />Help <a href="http://www.kickstarter.com/projects/1607251927/know-your-city-kiosk">kickstart our kiosk in Old Town</a> <br />before 11/27!</h4>
</div> <!-- end of welcome span4 -->
</div> <!-- end of first row -->

<ul class="thumbnails">
<% @themes.each do |theme| %>
  <li class="span4">
    <div class="thumbnail">
		<div class="hidden-phone">
      		<%= link_to  image_tag("#{theme.image_name}.jpg", :class => "theme_thumbnail" , :alt => "Theme image"), theme %>
		</div>
      <h3><%=link_to theme.title, theme %></h3>
      <p class="subtitle"><%= theme.subtitle %></p>
    </div>
  </li>
<% end %>
</ul>