<div class="row">

<%= carousel_markup() %>

<script>
	$(function(){
		$('#home-carousel').carousel({
		  interval: 6000,
		  pause: "hover"
		});
	});
</script>	

<div class="span4">
<p class="welcome-title">Welcome to the PDX Social History Guide, brought to you by <a href="http://www.knowyourcity.org">Know Your City</a>.</p>
<p class="welcome-message">We've interviewed guest experts on a variety of themes about the history of Portland, Oregon, USA. We've edited these interviews into stories, which feature a summary, an audio clip, and an image or map. You can start exploring by selecting a theme below.</p>	
</div> <!-- end of welcome span4 -->
</div> <!-- end of first row -->

<ul class="thumbnails">
<% @themes.each do |theme| %>
  <li class="span4">
    <div class="thumbnail">
		<div class="hidden-phone">
      		<%= link_to  image_tag("#{theme.image_name}.jpg", :class => "theme_thumbnail" , :alt => "Theme image"), theme %>
		</div>
      <h3><%=link_to theme.title, theme %></h3>
      <p class="subtitle"><%= theme.subtitle %></p>
    </div>
  </li>
<% end %>
</ul>

<div class="visible-phone">
	<p>Phone Footer</p>
</div>