<%= carousel_markup() %>

<script>
	$(function(){
		$('#home-carousel').carousel({
		  interval: 4000
		});
	});
</script>	

<ul class="thumbnails">
<% @themes.each do |theme| %>
  <li class="span4">
    <div class="thumbnail">
		<div class="hidden-phone">
      		<%= link_to  image_tag("#{theme.image_name}.jpg", :class => "theme_image" , :alt => "Theme image"), theme %>
		</div>
      <h3><%=link_to theme.title, theme %></h3>
      <p class="subtitle"><%= theme.subtitle %></p>
    </div>
  </li>
<% end %>
</ul>

<div class="visible-phone">
	<p>Phone Footer</p>
</div>