// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-title {
	font-size: 34px;
	line-height: 40px;
}

.welcome-message {
	margin-top: 25px;
	font-size: 20px;
	line-height: 24px;
}

.kyc-notice {
	margin-top: 30px;
	padding: 5px;
	background-color: $pshg-light-gray;
	color: $pshg-dark-gray;
	
	a {
	  color: $kyc-red;
	  &:hover {
	    color: $pshg-dark-gray;
	  }
	}
}
