// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#nearby-map-container {
	float: left;
}

#nearby-map { 
	width: 600px;
	height: 450px;  
}

@media only screen and (max-device-width: 480px) {
	
	#nearby-map-container {
		float: none;
	}
	
	#nearby-map {
		width: 320px;
		height: 240px;
		margin-left: 0px;
	}

	#nearby-location-button {
		font-size: 18px;
		width: 320px;
	}
}