// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ========================================
// Story Media
// ========================================

#story-media-section {
	//min-width: 320px;
	//max-width: 650px;
	//width: 100%;
	//margin-right: 10px;
	//float: left;
}

// can't be an id if there are multiple photos in a slideshow
.story-image {
	//min-width: 300px;
	//max-width: 500px;
	//width: 100%;
	margin-top: 20px;
}

.story-image-caption {
	padding: 5px;
	font-size: 14px;
	background-color: #333;
	color: #ccc;
	margin-bottom: 0px;
}

#media-map-container {
// 	min-width: 320px;
// 	max-width: 650px;
// 	margin-right: 10px;
// 	float: left;
 }

#media-map {
	width: 480px;
	height: 360px;
}

#media-location-button {
	font-size: 20px;
	text-align: center;
	width: 480px;
	background-color: #000;
	padding: 5px;
	
	a {
		margin-top: 5px;
		color: #ccc;
	}
}

// does .map-credit need to be distinct? see stories_helper.rb
.media-credit {
	margin-top: 0px;
	padding: 5px;
	text-align: right;
	font-style: oblique;
	font-size: 10px;
	background-color: #333;
	color: #ccc;
	
	a {
		color: #ccc;
	}
}

// ========================================
// Story Text
// ========================================

#story-body-section {
  //margin: 10px;
  //padding: 10px;
  //min-width: 200px;
}

// only use padding if you use a border
#story-guest-section {
	clear: both;
	border: solid 1px $kyc-border-color;
	padding: 10px;
	width: 100%;
}

.guest_thumbnail {
	width: 160px;
	height: 120px;
	float: right;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

// only use padding if you use a border
#more-info-section {
	clear: both;
	border: solid 1px $kyc-border-color;
	padding: 10px;
  	margin-top: 10px;
	width: 100%;

	h2 {
		color: #555;
	}
}

.more-info-header {
	color: #fff;
	margin: 0px;
	padding: 10px;
	background-color: $pshg-dark-gray;
}

// ========================================
// Geography section
// ========================================

#story-geography {
	clear: both;
	margin-top: 10px;
}

#story-map-container {
	float: left;
}

#story-map {
	width: 520px;
	height: 390px;
}

#story-location-button {
	font-size: 18px;
	text-align: center;
	width: 520px;
	background-color: #000;
	padding: 5px;
	
	a {
		margin-top: 8px;
		color: #ccc;
	}
}

#nearby-list {  
 	padding: 10px;
  	border: solid 1px $kyc-border-color;
	max-width: 520px;
	//width: 100%;
	//float: right;
	//margin-left: 20px;
	margin-bottom: 10px;
	
	table caption {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 10px;
	}
}

.nearby-distance {
	text-align: right;
	color: #555;
}

// ========================================
// Media Queries
// ========================================

@media only screen and (max-device-width: 480px) {
	
	#story-map-container {
		float: none;
	}
	
	#story-map {
		width: 320px;
		height: 240px;
	}

	#story-location-button {
		font-size: 18px;
		width: 320px;
	}
	
	#nearby-list {  
		max-width: 320px;
		float: none;
		margin-left: 0px;
		margin-bottom: 10px;
	}
}